[client]
host = gaia-db.c7qv9zc9szdp.us-east-2.rds.amazonaws.com
port = 3306
user = rdsadmin
password = `gaia-db.c7qv9zc9szdp.us-east-2.rds.amazonaws.com:3306/?Action=connect&DBUser=sorengoyal&X-Amz-Expires=900&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAJHQ7J4FQ3MEXD4QQ%2F20180331%2Fus-east-2%2Frds-db%2Faws4_request&X-Amz-Date=20180331T135810Z&X-Amz-Signature=7117cd5d26b9da3d954b895345e63061ccb8f4a16da68035e1e48fe1273f4844`
ssl-ca = `rds-ca-2015-root.pem`
ssl-mode = VERIFY_IDENTITY
ssl = TRUE
enable-cleartext-plugin = TRUE