[client]
host = gaia-db.c7qv9zc9szdp.us-east-2.rds.amazonaws.com
port = 3306
user = sorengoyal
password = `FU4$dptrm`
ssl-ca = `rds-ca-2015-root.pem`
ssl-mode = VERIFY_IDENTITY
ssl = TRUE
enable-cleartext-plugin = TRUE
